Repository H-Tudor/devops_final_backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, pytest, export-requirements

mypy:
  name: mypy
  entry: uv run mypy .
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: uv run pylint src/devops_final_backend
  language: system
  require_serial: true

pytest:
  name: Run pytest
  entry: bash -c 'export HYPOTHESIS_STORAGE_DIRECTORY=.cache/hypothesis && uv run pytest --import-mode=importlib'
  language: system
  pass_filenames: false

export-requirements:
  name: Export requirements.txt from uv
  entry: uv export -o requirements.txt --no-header --no-hashes
  language: system
  pass_filenames: false

cleanup
  .pre-commit-config.yaml
  README.md
  docs/source/README.rst
  pyproject.toml
  requirements.txt
  src/devops_final_backend/tests/test_01_generator_compose.py
  uv.lock
Due: mypy, pylint, pytest, export-requirements

added dockerfile
  .gitignore
  Dockerfile
  compose.yml
  docs/source/usefull_commands.rst
  usefull_commands.md
Due: none

minor cleanup
  .gitignore
Due: none

split unprocessable tests
  compose.yml
  docs/source/api/devops_final_backend.tests.extra.rst
  docs/source/api/devops_final_backend.tests.rst
  scripts/run_extra_tests.sh
  src/devops_final_backend/tests/extra/__init__.py
  src/devops_final_backend/tests/extra/run_auth_keycloak.py
  src/devops_final_backend/tests/extra/run_schemathesis.py
Due: mypy, pylint, pytest

added github workflows and dependabot
  .github/dependabot.yaml
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
Due: none

ci pipelines test
  .github/dependabot.yaml
  .github/workflows/ci.yaml
  pyproject.toml
  requirements.txt
  scripts/clear_caches.sh
  uv.lock
Due: export-requirements

fixed default values for ci job
  .github/workflows/ci.yaml
Due: none

added model provider url
  .env.example
  src/devops_final_backend/services/llm_generator/abstract_generator.py
  src/devops_final_backend/settings.py
Due: mypy, pylint, pytest

fixed network / volume prompt templates
  README.md
  docs/source/README.rst
  src/devops_final_backend/services/llm_generator/compose_generator.py
  src/devops_final_backend/tests/test_01_generator_compose.py
Due: mypy, pylint, pytest

formatting fix
  compose.yml
  docs/source/conf.py
Due: pytest

Llm improvements (#8)
  .env.example
  README.md
  compose.yml
  docs/source/README.rst
  docs/source/conf.py
  src/devops_final_backend/services/llm_generator/abstract_generator.py
  src/devops_final_backend/services/llm_generator/compose_generator.py
  src/devops_final_backend/settings.py
  src/devops_final_backend/tests/test_01_generator_compose.py
Due: mypy, pylint, pytest

added langchain openai lib
  pyproject.toml
  requirements.txt
  uv.lock
Due: export-requirements

added langchain openai lib (#9)
  pyproject.toml
  requirements.txt
  uv.lock
Due: export-requirements

added new env var
  .env.example
  .github/workflows/ci.yaml
  src/devops_final_backend/__init__.py
  src/devops_final_backend/settings.py
Due: mypy, pylint, pytest

cd improvements
  .github/workflows/docker.yaml
  .github/workflows/docs.yaml
Due: none

deployment fixes
  .env.example
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/docs.yaml
  src/devops_final_backend/__init__.py
  src/devops_final_backend/settings.py
Due: mypy, pylint, pytest

cd fixes
  .github/workflows/docker.yaml
  .github/workflows/docs.yaml
Due: none

Merge remote-tracking branch 'origin/master' into env-cleanup
  .github/workflows/docker.yaml
  .github/workflows/docs.yaml
Due: none

Merge remote-tracking branch 'origin/master' into env-cleanup
  .github/workflows/docs.yaml
Due: none

Env cleanup (#11)
  .github/workflows/docker.yaml
  .github/workflows/docs.yaml
Due: none

disabled Trivy for now
  .github/workflows/docker.yaml
Due: none

Env cleanup (#12)
  .github/workflows/docker.yaml
Due: none

fixed folder
  .github/workflows/docker.yaml
Due: none

Env cleanup (#13)
  .github/workflows/docker.yaml
Due: none

try to auto deploy backend
  .github/workflows/docker.yaml
  .github/workflows/docs.yaml
Due: none

try to auto deploy backend (#14)
  .github/workflows/docker.yaml
  .github/workflows/docs.yaml
Due: none

branch fix
  .github/workflows/docker.yaml
Due: none

Cd fixes (#15)
  .github/workflows/docker.yaml
Due: none

fixed repo owner name
  .github/workflows/docker.yaml
Due: none

Cd fixes (#16)
  .github/workflows/docker.yaml
Due: none

wip
  .github/workflows/docker.yaml
Due: none

wip 2
  .github/workflows/docker.yaml
Due: none

wip 3
  .github/workflows/docker.yaml
Due: none

minor fixes
  .github/workflows/docs.yaml
  README.md
  docs/source/README.rst
Due: none

Cd fixes (#18)
  .github/workflows/docs.yaml
  README.md
  docs/source/README.rst
Due: none

linked to other repos
  README.md
  docs/source/README.rst
Due: none

Cd fixes (#19)
  README.md
  docs/source/README.rst
Due: none

deploy: 630fea7c976a0ab060fe62ad036300402541c46f
  .doctrees/README.doctree
  .doctrees/environment.pickle
  README.html
  _sources/README.rst.txt
  searchindex.js
Due: none

typo
  README.md
  docs/source/README.rst
Due: none

Path conditions:
  mypy: any of: ^src/.*\.py$ and \.py$
  pylint: any of: ^src/.*\.py$ and \.py$
  pytest: any of: \.py$
  export-requirements: any of: ^pyproject\.toml$
